<!DOCTYPE html>
<html>
<head>
    <title>JMS Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
   
    <h1>JMS Analyzer</h1>
    <h2>Job Market Skills Analyser</h2>

    <p>Analyze • Learn • Grow</p>

    <hr>

    <h2>Welcome!</h2>
    <p>This project helps users analyze their skills and find missing skills for their dream job.</p>
    <a href="/user-type">
    <button class="green-btn">Analyze Skills</button></a>
    <h3>Thank You!</h3>
</body>
</html>