<!DOCTYPE html>
<html>

<head>
    <title>Skills</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>JMS ANALYZER</h1>

    <hr>

    <h2>Select Your Current Skills</h2>

    <h3>{{ dream_job }}</h3>

    <p>Select all the skills you already know or upload your resume.</p>

    <form action="/analysis" method="POST" enctype="multipart/form-data">

        <!-- Hidden field to send dream job -->
        <input type="hidden" name="dream_job" value="{{ dream_job }}">

        {% for skill in required_skills %}

        <div class="skill-item">
            <input
                type="checkbox"
                name="skills"
                value="{{ skill }}">

            <label>{{ skill }}</label>
        </div>

        {% endfor %}

        <br>

        <h3>OR Upload Your Resume</h3>

        <input
            type="file"
            name="resume"
            accept=".pdf,.doc,.docx">

        <br><br>

        <button class="orange-btn" type="submit">
            Analyze Skills
        </button>

    </form>

</body>

</html>