{% extends "base.html" %}

{% block title %}
User Type - JMS Analyzer
{% endblock %}

{% block content %}

<section class="hero-section">

    <h1>JMS Analyzer</h1>

    <h2>Who Are You?</h2>

    <p class="hero-description">
        Select the option that best describes you
        to begin your skill analysis.
    </p>

    <div class="home-actions">

        <!-- Fresher -->
        <a href="{{ url_for('dream_job') }}"
           class="blue-btn">
            🎓 Fresher
        </a>

        <!-- Professional -->
        <a href="{{ url_for('dream_job') }}"
           class="blue-btn">
            💼 Professional
        </a>

    </div>

</section>

{% endblock %}